<ul class="nav nav-pills nav-pills-custom-minimal custom-minimal-bottom" role="tablist" style="margin:-25px -15px 15px -15px;">
	<li class="" style="width:50%;text-align:center"><a href="#profilePage" role="tab" data-toggle="tab" aria-expanded="true"><i class="icon ion-social-rss"></i>PROFILE</a></li>
	<li class="active" style="width:50%;text-align:center"><a href="#attributePage" role="tab" data-toggle="tab" aria-expanded="false"><i class="icon ion-reply-all"></i>ATTRIBUTES</a></li>
</ul>




<div class="main-content">
	<div class="row">
		<div class="chart col-xs-6 text-center" data-percent="73">
			<div>Acceleration</div>
			<div>73%</div>
		</div>
		<div class="chart col-xs-6 text-center" data-percent="50">
			<div>Agility</div>
			<div>50%</div>
		</div>
		<div class="chart col-xs-6 text-center" data-percent="80">
			<div>&nbsp;</div>
			<div>Pace</div>
			<div>80%</div>
		</div>
		<div class="chart col-xs-6 text-center" data-percent="70">
			<div>&nbsp;</div>
			<div>Stamina</div>
			<div>70%</div>
		</div>
		<div class="col-xs-12" style="height:60px;"></div>
		<div class="col-xs-12">
			<button class="btn btn-primary btn-block">Refresh</button>
		</div>
	</div>
</div>