<ul class="nav nav-pills nav-pills-custom-minimal custom-minimal-bottom" role="tablist" style="margin:-25px -15px 15px -15px;">
	<li class="" style="width:50%;text-align:center"><a href="#profilePage" role="tab" data-toggle="tab" aria-expanded="true"><i class="icon ion-social-rss"></i>PROFILE</a></li>
	<li class="active" style="width:50%;text-align:center"><a href="#attributePage" role="tab" data-toggle="tab" aria-expanded="false"><i class="icon ion-reply-all"></i>ATTRIBUTES</a></li>
</ul>




<div class="main-content">
	<div class="row">
		<div class="chart col-xs-6 text-center" data-percent="73" ng-click="openModal('acceleration')">
			<div>Acceleration</div>
			<div>73%</div>
		</div>
		<div class="chart col-xs-6 text-center" data-percent="50" ng-click="openModal('Agility')">
			<div>Agility</div>
			<div>50%</div>
		</div>
		<div class="chart col-xs-6 text-center" data-percent="80" ng-click="openModal('Pace')">
			<div>&nbsp;</div>
			<div>Pace</div>
			<div>80%</div>
		</div>
		<div class="chart col-xs-6 text-center" data-percent="70" ng-click="openModal('Stamina')">
			<div>&nbsp;</div>
			<div>Stamina</div>
			<div>70%</div>
		</div>
		<div class="col-xs-12" style="height:60px;"></div>
		<div class="col-xs-12">
			<button class="btn btn-primary btn-block">Refresh</button>
		</div>
	</div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">{{attributeName}}</h4>
			</div>
			<div class="modal-body">
				<textarea id="logBox" class="logBox" rows="10" style="height:100px"></textarea>
				<div class="col-xs-12">
					<div class="contextual-summary-info">
						<i class="fa" ng-class="statusType"></i>
						<p class="pull-right"><span id="statusMsg">{{statusMsg}}</span></p>
					</div>
				</div>
				<div>&nbsp;</div>

				Step 1.
				<div class-"form-control">
					<button class="btn btn-primary btn-block" id="linkBracelet">Link to Bracelet</button>
				</div>
				Step 2.
				<div class-"form-control">
					<button class="btn btn-primary btn-block" id="startSession">Session Start</button>
				</div>
			</div>
		</div>
	</div>
</div>