<ul class="nav nav-pills nav-pills-custom-minimal custom-minimal-bottom" role="tablist" style="margin:-25px -15px 15px -15px;">
	<li class="active" style="width:50%;text-align:center"><a href="#profilePage" role="tab" data-toggle="tab" aria-expanded="true"><i class="icon ion-social-rss"></i>PROFILE</a></li>
	<li class="" style="width:50%;text-align:center"><a href="#attributePage" role="tab" data-toggle="tab" aria-expanded="false"><i class="icon ion-reply-all"></i>ATTRIBUTES</a></li>
</ul>



<div class="main-header" style="margin-bottom:20px;">
	<h2>Profile</h2>
</div>
<div class="main-content">
	<!-- NAV TABS -->

	<!-- END NAV TABS -->
	<div class="tab-content profile-page">
		<!-- PROFILE TAB CONTENT -->
		<div class="tab-pane profile active" id="profile-tab">
			<div class="row">
				<div class="col-md-3">
					<div class="user-info-left">
						<img src="assets/img/profile-avatar.png" alt="Profile Picture">
						<h2>{{thisPlayer.name}}</h2>

					</div>
				</div>
				<div class="col-xs-12"><h3><i class="fa fa-square"></i> Basic Information</h3></div>
				
				<div class="col-xs-4"><strong>Name</strong></div>
				<div class="col-xs-8">{{thisPlayer.name}}</div>

				<div class="col-xs-4"><strong>Position</strong></div>
				<div class="col-xs-8">{{thisPlayer.position}}</div>

				<div class="col-xs-4"><strong>Age</strong></div>
				<div class="col-xs-8">{{thisPlayer.age}}</div>

				<div class="col-xs-4"><strong>Height</strong></div>
				<div class="col-xs-8">{{thisPlayer.height}}</div>

				<div class="col-xs-4"><strong>Weight</strong></div>
				<div class="col-xs-8">{{thisPlayer.weight}}</div>

				<div class="col-xs-8">&nbsp;</div>

				<button class="btn btn-danger btn-block" id="padam">Delete This Player</button>
			</div>
		</div>
		<!-- END PROFILE TAB CONTENT -->
	</div>
</div>